<%- include ("../partials/head") -%>
    <form action="/products/update?_method=PUT" method="post" enctype="multipart/form-data">

        <main class="main-newProduct">
            <h2>Editar el producto:
                <%= locals.product.name%>
            </h2>
            <div class="container">

                <!--El sieguiente fieldset es porque se deben de igual forma mandar todos los datos a la base de datos... entonces como el sku no lo debe ver el cliente... se coloca como de tipo hideen-->
                <fieldset>
                    <input type="hidden" name="sku" value="<%= locals.product.sku%>" />
                </fieldset>

                <section class="nombreProduct">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="nameProduct" value="<%= locals.product.name %>" />
                </section>

                <section class="descripcionProduct">
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description" value="<%= locals.product.description %>" />
                </section>

                <section class="precioProduct">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" value="<%= locals.product.price %>" />
                </section>

                <section class="categoriaProduct">
                    <label for="category">Categoría</label>
                    <input type="text" name="category" id="category" value="<%= locals.product.category %>" />
                </section>

                <section class="temporadaProduct">
                    <label for="season">Temporada</label>
                    <input type="text" name="season" id="season" value="<%= locals.product.season %>" />
                </section>

                <section class="imagesProduct">
                    <label for="image">Ingresar imagen</label>
                    <input type="file" name="image" id="image" value="<%= locals.product.image%>" />
                </section>

                <section class="botones">
                    <button type="submit">Actualizar</button>
                </section>

            </div>
        </main>
    </form>

    <%- include ('../partials/footer') -%>