<%- include ('../partials/head') -%>
<section class="botones">
    <a href="/products/new">
        <button>Nuevo producto</button>
    </a>
</section>

<div class="container-products">
        <%if(data.length > 0){%>
            <% for(var i = 0; i < data.length; i++){%>
                <div class="card">
                    <figure class="images-product">
                        <img src="images/products/<%=data[i].image%>" alt="Aqui debe salir la foto">
                    </figure>
                    <div class="info-producs">
                        <h1>
                            <%=data[i].name%>
                        </h1>
                        <p>Precio: $
                            <%=data[i].price%>
                        </p>
                        <p>
                            <%=data[i].description%>
                        </p>
                        <div class="botones-product">
                            <button><a href="/products/<%=data[i].sku%>">Ver más</a></button>
                            <button>Añadir al carro</button>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% } else { %>
                        <h1>No hay datos</h1>
                        <% } %>
    </div>
    <%- include ('../partials/footer') -%>