<%- include ('../partials/head') -%>

    <form action="/profile/update?_method=PUT" method="post" enctype="multipart/form-data">

        <main class="main-register">
            <h2>Editar usuario</h2>
            <div class="container">

                <!--El sieguiente fieldset es porque se deben de igual forma mandar todos los datos a la base de datos... entonces como el sku no lo debe ver el cliente... se coloca como de tipo hideen-->
                <fieldset>
                    <input type="hidden" name="sku" value="<%= (locals.usuario && locals.usuario.sku) ? locals.usuario.sku : data.sku %>" />
                </fieldset>

                <section class="nombre">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="<%= (locals.usuario && locals.usuario.name) ? locals.usuario.name : data.name %>" />

                    <span id="nameSpan"></span>

                    <% if (locals.errores && locals.errores.name) { %>
                        <p class="feedback">
                            <%= locals.errores.name.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="apellido">
                    <label for="name">Apellido</label>
                    <input type="text" name="lastname" id="lastname" value="<%= (locals.usuario && locals.usuario.lastname) ? locals.usuario.lastname : data.lastname %>" />

                    <span id="lastNameSpan"></span>

                    <% if (locals.errores && locals.errores.lastname) { %>
                        <p class="feedback">
                            <%= locals.errores.lastname.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="telefono">
                    <label for="phone">Telefono</label>
                    <input type="number" name="phone" id="phone" value="<%= (locals.usuario && locals.usuario.phone) ? locals.usuario.phone : data.phone %>" />

                    <span id="phoneSpan"></span>

                    <% if (locals.errores && locals.errores.phone) { %>
                        <p class="feedback">
                            <%= locals.errores.phone.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="pais">
                    <label for="pais">Pais</label>
                    <select name="pais" id="pais" value="">
                        <option value="">Seleccione la ciudad</option>
                        <option value="Argentina" <%= (locals.usuario && locals.usuario.country == "Argentina") ? "selected" : "" %> >Argentina</option>
                        <option value="Colombia" <%= (locals.usuario && locals.usuario.country == "Colombia") ? "selected" : "" %> >Colombia</option>
                        <option value="Otro" <%= (locals.usuario && locals.usuario.country == "Otro") ? "selected" : "" %> >Otro</option>
                    </select>

                    <span id="countrySpan"></span>

                    <% if (locals.errores && locals.errores.pais) { %>
                        <p class="feedback">
                            <%= locals.errores.pais.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="email">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= (locals.usuario && locals.usuario.email) ? locals.usuario.email : data.email %>" />

                    <span id="emailSpan"></span>

                    <% if (locals.errores && locals.errores.email) { %>
                        <p class="feedback">
                            <%= locals.errores.email.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="images">
                    <label for="images">Ingresar imagen</label>
                    <input type="file" name="image" id="image" />

                    <span id="imageSpan"></span>
                    
                </section>

                <section class="botones">
                    <button type="submit">Actualizar</button>
                </section>

            </div>
        </main>
    </form>

    <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script src="/js/validaciones/auth/validacion-user-update.js"></script>

    <%- include ('../partials/footer') -%>