<%- include ('../partials/head') -%>

    <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script defer src="/js/validaciones/auth/validacion-user-register.js"></script>

    <form action="/register/create" method="post" enctype="multipart/form-data">

        <main class="main-register">
            <h2>Crear cuenta</h2>
            <div class="container">

                <section class="nombre">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="<%=(locals.data && locals.data.name) ? locals.data.name : null %>" />

                    <span id="nameSpan"></span>

                    <% if (locals.errores && locals.errores.name) { %>
                        <p class="feedback">
                            <%= locals.errores.name.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="apellido">
                    <label for="name">Apellido</label>
                    <input type="text" name="lastname" id="lastname" value="<%=(locals.data && locals.data.lastname) ? locals.data.lastname : null %>" />

                    <span id="lastNameSpan"></span>

                    <% if (locals.errores && locals.errores.lastname) { %>
                        <p class="feedback">
                            <%= locals.errores.lastname.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="telefono">
                    <label for="phone">Celular</label>
                    <input type="number" name="phone" id="phone" value="<%=(locals.data && locals.data.phone) ? locals.data.phone : null %>" />

                    <span id="phoneSpan"></span>

                    <% if (locals.errores && locals.errores.phone) { %>
                        <p class="feedback">
                            <%= locals.errores.phone.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="pais">
                    <label for="pais">Pais</label>
                    <select name="pais" id="pais">
                        <option value="">Seleccione la ciudad</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Otro">Otro</option>
                    </select>

                    <span id="countrySpan"></span>

                    <% if (locals.errores && locals.errores.pais) { %>
                        <p class="feedback">
                            <%= locals.errores.pais.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="email">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%=(locals.data && locals.data.email) ? locals.data.email : null %>" />

                    <span id="emailSpan"></span>

                    <% if (locals.errores && locals.errores.email) { %>
                        <p class="feedback">
                            <%= locals.errores.email.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="password">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" value="<%=(locals.data && locals.data.password) ? locals.data.password : null %>" />

                    <span id="passwordSpan"></span>


                    <% if (locals.errores && locals.errores.password) { %>
                        <p class="feedback">
                            <%= locals.errores.password.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="password">
                    <label for="passwordCheck">Confirmar contraseña</label>
                    <input type="password" name="passwordCheck" id="passwordCheck" />

                    <span id="passwordCheckSpan"></span>

                </section>


                <section class="images">
                    <label for="images">Ingresar imagen</label>
                    <input type="file" name="image" id="image" />

                    <span id="imageSpan"></span>

                    <% if (locals.errores && locals.errores.image) { %>
                        <p class="feedback">
                            <%= locals.errores.image.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="botones">
                    <button type="submit">
                        Registrarse
                    </button>
                    <button type="button">
                        <a class="btn-login-register" href="/login">Iniciar sesion</a>
                    </button>
                </section>

            </div>
        </main>
    </form>

    <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script src="/js/validaciones/auth/validacion-user-register.js"></script>

    <%- include ('../partials/footer') -%>