<%- include ("../partials/head") -%>



    <form action="/products/save" method="post" enctype="multipart/form-data">

        <main class="main-newProduct">
            <h2>Crear nuevo producto</h2>
            <div class="container">

                <section class="nombreProduct">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="nameProduct" value="<%=(locals.data && locals.data.name) ? locals.data.name : null %>" />

                    <span id="nameSpan"></span>          

                    <% if (locals.errores && locals.errores.name) { %>
                        <p class="feedback">
                            <%= locals.errores.name.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="descripcionProduct">
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description" value="<%=(locals.data && locals.data.description) ? locals.data.description : null %>" />

                    <span id="descriptionSpan"></span>

                    <% if (locals.errores && locals.errores.description) { %>
                        <p class="feedback">
                            <%= locals.errores.description.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="precioProduct">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" value="<%=(locals.data && locals.data.price) ? locals.data.price : null %>" />

                    <span id="priceSpan"></span>

                    <% if (locals.errores && locals.errores.price) { %>
                        <p class="feedback">
                            <%= locals.errores.price.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="categoriaProduct">
                    <label for="category">Categoría</label>
                    <select name="category" id="category">
                        <option value="">Seleccione una opción</option>
                        <option value="1">Todos</option>
                        <option value="2">Arreglos florales</option>
                        <option value="3">Globos y dulces</option>
                        <option value="4">Desayunos</option>
                    </select>
                    
                    <% if (locals.errores && locals.errores.category) { %>
                        <p class="feedback">
                            <%= locals.errores.category.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="temporadaProduct">
                    <label for="season">Temporada</label>
                    <select name="season" id="season">
                        <option value="">Seleccione una opción</option>
                        <option value="1">Todo el año</option>
                        <option value="2">Feliz día</option>
                        <option value="3">Amor</option>
                        <option value="4">Cumpleaños</option>
                        <option value="5">Día del padre</option>
                        <option value="6">Día de la madre</option>
                        <option value="7">Día del niño</option>
                    </select>
                    
                    <% if (locals.errores && locals.errores.season) { %>
                        <p class="feedback">
                            <%= locals.errores.season.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="imagesProduct">
                    <label for="image">Ingresar imagen</label>
                    <input type="file" name="image" id="image" />

                    <span id="imageSpan"></span>

                    <% if (locals.errores && locals.errores.image) { %>
                        <p class="feedback">
                            <%= locals.errores.image.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="botones">
                    <button type="submit">Guardar</button>
                    <button type="reset">Borrar todo</button>
                </section>

            </div>
        </main>
    </form>

     <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script src="/js/validaciones/validacion-product-create.js"></script>
 
    <%- include ('../partials/footer') -%>