<%- include ('../partials/head') -%>

    <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script defer src="/js/validaciones/auth/validacion-user-login.js"></script>

    <main class="main-login">
        <h2>Inicio de sesión</h2>
        <div class="container">

            <form action="/access" method="post">
                <section class="email">
                    <label for="email">
                        <i class="fa-solid fa-user">Email</i>
                    </label>
                    <input type="email" name="email" id="email" class="email-save" value="<%=(locals.data && locals.data.email) ? locals.data.email : null %>">

                    <span id="emailSpan"></span>

                    <% if (locals.errores && locals.errores.email) { %>
                        <p class="feedback">
                            <%= locals.errores.email.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="password">
                    <label for="password">
                        <i class="fa-solid fa-key">Password</i>
                    </label>
                    <input type="password" name="password" id="password" value="<%=(locals.data && locals.data.password) ? locals.data.password : null %>">

                    <span id="passwordSpan"></span>

                    <% if (locals.errores && locals.errores.password) { %>
                        <p class="feedback">
                            <%= locals.errores.password.msg %>
                        </p>
                        <% } %>
                </section>

                <section class="remember-user">
                    <p>Recordar el usuario</p>
                    <input type="checkbox" name="" id="remember-user">
                </section>
                <section class="olvido-clave">
                    <p>¿Olvidaste tu contraseña?</p>
                </section>
                <section class="botones">
                    <button type="submit">
                        Ingresar</i>
                    </button>
                    <button type="reset">
                       <a class="btn-login-register" href="/register">Registrarse</a>
                    </button>
                </section>
            </form>

        </div>
    </main>

    <!-- Aqui se colocan los scripts para validar los formularion en el front end -->
    <script src="/js/validaciones/auth/validacion-user-login.js"></script>

    <%- include ('../partials/footer') -%>